PORT=3000
NODE_ENV=production

JWT_SECRET=change_this_to_a_long_random_string

PG_HOST=postgres
PG_PORT=5432
PG_USER=socket_user
PG_PASSWORD=changeme
PG_DATABASE=socket_db

MONGO_URI=mongodb://mongo:27017
MONGO_DB=socket_logs

CORS_ORIGIN=*
